---
---

<div class="w-full bg-white rounded-lg mt-3 px-2 py-4">
  <p class="text-xs text-center mb-1.5">Hoy 15:32</p>
  <div class="border-t py-2 flex items-center gap-x-10 text-xs">
    <div class="px-5">
      <p class="uppercase text-gray-400 pb-0.5">Sis-Dia</p>
      <span class="font-bold text-green-500 text-[13px]">123-90</span>
      <span class="block pt-0.5 text-[10px]">mmHg</span>
    </div>
    <div>
      <p class="text-gray-400">Pulso</p>
      <span class="text-[13px] py-1">84</span>
      <span class="block pt-0.5 text-[10px]">PPM</span>
    </div>
    <div>
      <span class="material-icons-sharp text-gray-500 text-[34px] cursor-pointer">
        keyboard_double_arrow_right
      </span>
    </div>
  </div>
</div>
