<div class="flex">
  <h1 class="font-bold uppercase text-[28px] text-center">
    Presion<span class="text-red-500">Arterial</span>
  </h1>
  <span class="material-icons-sharp ml-1 text-red-500"> bloodtype</span>
</div>
