<nav class="flex items-center justify-evenly border-t-2 px-[30px] pt-1.5">
  <a href="/"><span class="material-icons-sharp icon">home</span></a><a
    href="/stadistics"
    ><span class="material-icons-sharp icon"> signal_cellular_alt</span><a
      href="/profile"
    >
      <span class="material-icons-sharp icon"> account_circle</span></a
    >
  </a>
</nav>

<style>
  .icon {
    font-size: 40px;
    cursor: pointer;
  }
</style>
